/* Noto Sans Fonts is under the Open Font License. See https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL */

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("NotoSans-Regular.woff2") format("woff2"),
       url("NotoSans-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Noto Sans';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("NotoSans-Bold.woff2") format("woff2"),
       url("NotoSans-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("NotoSansMono-Regular.woff2") format("woff2"),
       url("NotoSansMono-Regular.woff") format("woff");
}
